
.topBar {
  padding-left: 1050px;
  display: inline-block; 
}

.head {
  font-size: 3rem;
  font-weight: bold;
}


body {
  background-color: #FFF8F7;
  background-repeat: no-repeat;
  background-image: url('heartbanner.jpg');
  background-size: contain;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

.font {
  font-family: Nunito;
}

.frontBox {
  background-color: #EDEDED;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 30px;
  /* margin-left: 520px; */
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  width: 450px;
  padding-right: 20px;
  height: 400px;
  padding-bottom: 20px;

}

.circle {
  width: 125px;
  height: 125px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 75px;
  background: #FDAB30;
  display: inline-block; 
  /* margin-right: 170px !important; */
}

.profileCircle {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  background: #FDAB30;
  display: inline-block;
  /* margin-right: 170px !important; */
}
.otherBox {
  background-color: #EDEDED;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 30px;
  /* margin-left: 520px; */
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  width: 300px;
  padding-right: 20px;
  height: 300px;
  padding-bottom: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 350px;
}

.N-logo { 
color:#FDAB30;
position:absolute;
left:41px;
top:25px;
font-family:Nunito;
text-align:left;
font-size:60px;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255, 160, 19, 0.4) 0%, rgba(237,237,237,0) 100%);

  /* background-color: #EDEDED; */
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EDEDED;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.profilecard {
  max-width: 30vw;
  display: inline-block;
  border-radius: 30px;
  border: solid 5px in
}

.topmatch {
  min-width: 100vw;
  background: rgb(253,171,48);
background: linear-gradient(90deg, rgba(253,171,48,0.5536589635854341) 0%, rgba(237,237,237,1) 50%, rgba(253,171,48,0.42200630252100846) 100%);
}

 