body {
    background: linear-gradient(-45deg, #f6b7a6a4, #ededed, #f6b7a6a4, #ededed);
       background-size: 400% 400%;
       animation: gradient 15s ease infinite;
   } /*body*/
   
   @keyframes gradient {
       0% {
           background-position: 0% 50%;
       }
       50% {
           background-position: 100% 50%;
       }
       100% {
           background-position: 0% 50%;
       }
   }

.N-logo { 
	color:#FDAB30;
	position:absolute;
	left:41px;
	top:25px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
}
.box { 
	box-shadow:5px 5px 10px rgba(0, 0, 0, 0.25);
	background-color:#EDEDED;
	width: 1000px;
	height:550px;
	position:absolute;
	left:15%;
	top:130px;
    border: 2px solid #5A5A5A;
    border-radius: 45px;
}

.left {
    width: 500px;
	height:550px;
    position:absolute;
	right: 50%;
    /* margin-right: 25px; */
    font-family: Nunito;
    background-color: #F3D6AB;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

img {
    width: 500px;
	height:550px;
    /* background-color: #F0E0C7; */
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-right: 2px solid #5A5A5A;
}

.right {
    text-align:left;
    width: 500px;
	height:500px;
    position:absolute;
	left:50%;
    margin-left: 25px;
    font-family: Nunito;
}


input {
    border: 1.5px solid #5A5A5A;
    border-radius: 15px;
    padding: 12px 20px;
    background-color: #EDEDED;
    width: 275px;
    height: 50px;
}

input[type=text] {
    margin-bottom: 20px; 
}

input[type=password] {
    margin-bottom: 20px; 
}

input[type=email] {
    margin-bottom: 15px; 
    margin-left: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 10px;
    
}

.log-form {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 900;
    margin-top: 60px;
    margin-right: 50px;
    margin-left: 10px;
}

.reg-form {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 900;
    margin-top: 60px;
    margin-right: 50px;
    text-align: center;
}

.login-button {
    background-color: #FDAB30;
    border: 2px solid #FDAB30;
    margin-left: 92px;
}

.forgot-pass-button {
    background-color: black;
    border: 2px solid black;
}

.register-button {
    background-color: #FDAB30;
    border: 2px solid #FDAB30;

}

.learn-more-button {
    background-color: black;
    border: 2px solid black;
}

button {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-family: Nunito;
    border-radius: 15px;
    /* margin-left: 30px; */
}

button:hover {
    opacity: 0.8;
}

.log-h3 {
    font-family: Roboto;
    margin-top: 65px;
    margin-left: 10px;
}

.reg-h3 {
    font-family: Roboto;
    margin-top: 2em;
    margin-left: 10px;
}

a {
    color: black;
}

a:hover {
    opacity: 0.8;
}

.echo {
    color: #201C6D;
    font-family: Roboto;
    margin-left: 53%;
    margin-top: 17%;
    z-index: 2000;
    position: relative;
    /* width: 14%;
    height: 4%;
    border-radius: 200px;
    border-top: 200px;
    border-color: #F5CA89;
    padding-left: 3%;
    background-color: #F5CA89; */

}

.buttons {
    /*position: absolute;*/
    margin-top: 3%;
    margin-left: 18%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0%;
}

#learn-more-button {
    margin-left: 1em;
}



