body {
	background-image:linear-gradient(111.57deg, #EDEDED 0%, #FDAB30 150%);;
}

.N-logo { 
	color:#FDAB30;
	position:absolute;
	left:41px;
	top:25px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
}
.box { 
	box-shadow:5px 5px 10px rgba(0, 0, 0, 0.25);
	background-color:#EDEDED;
	width: 1000px;
	height:550px;
	position:absolute;
	left:15%;
	top:130px;
    border: 2px solid #5A5A5A;
    border-radius: 45px;
}

.left {
    width: 500px;
	height:550px;
    position:absolute;
	right: 50%;
    /* margin-right: 25px; */
    font-family: Nunito;
    background-color: #F0E0C7;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

img {
    width: 500px;
	height:550px;
    /* background-color: #F0E0C7; */
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-right: 2px solid #5A5A5A;
}

.right {
    text-align:left;
    width: 500px;
	height:500px;
    position:absolute;
	left:50%;
    margin-left: 25px;
    font-family: Nunito;
}


input {
    border: 1.5px solid #5A5A5A;
    border-radius: 15px;
    padding: 12px 20px;
    background-color: #EDEDED;
    width: 275px;
    height: 50px;
}

input[type=text] {
    margin-bottom: 35px; 
}

input[type=password] {
    margin-bottom: 35px; 
}

input[type=email] {
    margin-bottom: 15px; 
    margin-left: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 10px;
    
}

.log-form {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 900;
    margin-top: 60px;
    margin-right: 50px;
    margin-left: 10px;
}

.reg-form {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 900;
    margin-top: 40px;
    margin-right: 50px;
    text-align: center;
}

.login-button {
    background-color: #FDAB30;
    border: 2px solid #FDAB30;
    margin-left: 60px;
}

.forgot-pass-button {
    background-color: black;
    border: 2px solid black;
}

.register-button {
    background-color: #FDAB30;
    border: 2px solid #FDAB30;
    margin-left: 60px;
}

.learn-more-button {
    background-color: black;
    border: 2px solid black;
}

button {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-family: Nunito;
    border-radius: 15px;
    margin-left: 30px;
}

button:hover {
    opacity: 0.8;
}

.log-h3 {
    font-family: Roboto;
    margin-top: 65px;
    margin-left: 10px;
}

.reg-h3 {
    font-family: Roboto;
    margin-top: 40px;
    margin-left: 10px;
}

a {
    color: black;
}

a:hover {
    opacity: 0.8;
}
