* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v459_153 {
  width: 100%;
  height: 1931px;
  background: linear-gradient(rgba(255,220,168,0), rgba(252,171,48,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v459_154 {
  width: 320px;
  height: 320px;
  background: url("../images/v459_154.png");
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 102px;
  border: 10px solid rgba(252,171,48,1);
}
.v459_155 {
  width: 549px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 348px;
  left: 85px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_156 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 423px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_157 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 856px;
  left: 85px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_158 {
  width: 217px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1310px;
  left: 83px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_159 {
  width: 309px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 541px;
  left: 126px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_160 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1017px;
  left: 285px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_161 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1083px;
  left: 285px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_162 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1143px;
  left: 285px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_163 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1209px;
  left: 285px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_164 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1209px;
  left: 691px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_165 {
  width: 278px;
  height: 64px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 219px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_166 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 856px;
  left: 552px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_167 {
  width: 543px;
  height: 64px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 692px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_168 {
  width: 950px;
  height: 58px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1310px;
  left: 281px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_169 {
  width: 174px;
  height: 54px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1204px;
  left: 1057px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_170 {
  width: 278px;
  height: 64px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 480px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_171 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 563px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_172 {
  width: 751px;
  height: 162px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 480px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v459_173 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 221px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_174 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1146px;
  left: 221px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_175 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 221px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_176 {
  width: 47px;
  height: 47px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 1083px;
  left: 221px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_177 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1017px;
  left: 691px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_178 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1083px;
  left: 691px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_179 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1143px;
  left: 691px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_180 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 958px;
  left: 627px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_181 {
  width: 391px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 963px;
  left: 949px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_182 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 958px;
  left: 219px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_183 {
  width: 47px;
  height: 47px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 627px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_184 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1146px;
  left: 627px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_185 {
  width: 47px;
  height: 47px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 627px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_186 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1083px;
  left: 627px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_187 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1384px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_188 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1384px;
  left: 293px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_189 {
  width: 103px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1388px;
  left: 1128px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_190 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1385px;
  left: 1064px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_191 {
  width: 148px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1385px;
  left: 631px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_192 {
  width: 100px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1388px;
  left: 904px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_193 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1385px;
  left: 567px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_194 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1020px;
  left: 1023px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_195 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1086px;
  left: 1023px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_196 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1146px;
  left: 1023px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_197 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1146px;
  left: 1023px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_198 {
  width: 162px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1210px;
  left: 959px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v459_199 {
  width: 47px;
  height: 47px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 1023px;
  left: 959px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_200 {
  width: 47px;
  height: 47px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 1385px;
  left: 840px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_201 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1149px;
  left: 959px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v459_202 {
  width: 47px;
  height: 47px;
  background: rgba(26,26,26,0);
  opacity: 1;
  position: absolute;
  top: 1086px;
  left: 959px;
  border: 2px solid rgba(26,26,26,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v461_2 {
  width: 647px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 230px;
  left: 80px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 75px;
  opacity: 1;
  text-align: left;
}
.v459_259 {
  width: 542px;
  height: 301px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 817px;
  overflow: hidden;
}
.v459_260 {
  width: 328px;
  height: 175px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 166px;
}
.v459_261 {
  width: 65px;
  height: 27px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 161px;
}
.v459_262 {
  width: 67px;
  height: 29px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 160px;
}
.v459_263 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 168px;
}
.v459_264 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 168px;
}
.v459_265 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 168px;
}
.v459_266 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 168px;
}
.v459_267 {
  width: 65px;
  height: 27px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 151px;
}
.v459_268 {
  width: 67px;
  height: 29px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 150px;
}
.v459_269 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 158px;
}
.v459_270 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 158px;
}
.v459_271 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 158px;
}
.v459_272 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 158px;
}
.v459_273 {
  width: 77px;
  height: 28px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 202px;
}
.v459_274 {
  width: 77px;
  height: 31px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 202px;
}
.v459_275 {
  width: 77px;
  height: 28px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 202px;
}
.v459_276 {
  width: 4px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 238px;
}
.v459_277 {
  width: 4px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 238px;
}
.v459_278 {
  width: 4px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 238px;
}
.v459_279 {
  width: 65px;
  height: 27px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 205px;
}
.v459_280 {
  width: 67px;
  height: 29px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 204px;
}
.v459_281 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 212px;
}
.v459_282 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 212px;
}
.v459_283 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 212px;
}
.v459_284 {
  width: 58px;
  height: 0px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 212px;
}
.v459_285 {
  width: 33px;
  height: 11px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 175px;
}
.v459_286 {
  width: 6px;
  height: 11px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 202px;
}
.v459_287 {
  width: 36px;
  height: 67px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 57px;
}
.v459_288 {
  width: 16px;
  height: 64px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 59px;
}
.v459_289 {
  width: 43px;
  height: 28px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 70px;
}
.v459_290 {
  width: 31px;
  height: 31px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 57px;
}
.v459_291 {
  width: 25px;
  height: 48px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 47px;
}
.v459_292 {
  width: 33px;
  height: 19px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 314px;
}
.v459_293 {
  width: 121px;
  height: 24px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 269px;
}
.v459_294 {
  width: 121px;
  height: 93px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 269px;
}
.v459_295 {
  width: 111px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 274px;
}
.v459_296 {
  width: 30px;
  height: 16px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 353px;
}
.v459_297 {
  width: 63px;
  height: 54px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 369px;
}
.v459_298 {
  width: 74px;
  height: 30px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 383px;
}
.v459_299 {
  width: 11px;
  height: 83px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 414px;
}
.v459_300 {
  width: 76px;
  height: 14px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 382px;
}
.v459_301 {
  width: 12px;
  height: 41px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 362px;
}
.v459_302 {
  width: 27px;
  height: 14px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 349px;
}
.v459_303 {
  width: 12px;
  height: 41px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 337px;
}
.v459_304 {
  width: 27px;
  height: 14px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 324px;
}
.v459_305 {
  width: 29px;
  height: 37px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 410px;
}
.v459_306 {
  width: 88px;
  height: 123px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 361px;
}
.v459_307 {
  width: 85px;
  height: 124px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 335px;
}
.v459_308 {
  width: 31px;
  height: 29px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 409px;
}
.v459_309 {
  width: 24px;
  height: 32px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 473px;
}
.v459_310 {
  width: 61px;
  height: 53px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 427px;
}
.v459_311 {
  width: 49px;
  height: 111px;
  background: rgba(252,171,48,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 403px;
}
.v459_312 {
  width: 541px;
  height: 2px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 0px;
}
.v459_449 {
  width: 231px;
  height: 76px;
  background: rgba(237,237,237,1);
  opacity: 1;
  position: absolute;
  top: 1769px;
  left: 1096px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v461_6 {
  width: 161px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1793px;
  left: 1128px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
