* {
    margin: 0; padding: 0;
    font-family: Nunito;
    /* font-weight: lighter; */
}
.valign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.vlalign {
    position: absolute;
    top: 60%;
    margin-left: 10%;
    margin-right: 50%;
    transform: translateY(-60%);

}

.vmalign {
    position: absolute;
    top: 55%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.genpadding {
    margin-bottom: 2vw;
}

#lmenu {
    position: absolute;
    font-size: 8vh;
}

#logo {
    color: #FDAB30;
    font-weight: 5vw;
    -webkit-text-stroke: 1px black;
}

#menuitems {
    position: relative;
    float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    float:right;
}

li a {
    text-decoration: none;
    display: block;
    border-radius: 5%;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2vw;
    color: #1A1A1A;
}

li a:hover {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255, 160, 19, 0.4) 0%, rgba(237,237,237,0) 100%);

}

body {
    position: relative;
    min-height:80vh;
    background: #EDEDED;
}

#lcol {
    position: relative;
    margin-left: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
}

#foot {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 100vw;
}

h1 {
    font-size: 5.1vw;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 10%;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 2vw;
    border-radius: 15px;
    color: #EDEDED;
    border-style: none;
    background-color: #1A1A1A;
    font-family: Nunito;
}

.baccent {
    background-color: #FDAB30;
    font-size: 20px;
    padding: 10px 20px;
    font-family: Nunito;
    border-radius: 15px;
}

#addpadding {
    margin-bottom: 5vh;
}

button:hover {
    background-color: #5a5a5a;
}

.baccent:hover {
    background-color: #fac370;
}

.card {
    width: 100%;
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);    border-radius: 7%;
    border: solid 2px #1A1A1A;
}

label {
    font-size: 1.2vw; 
}

input {
    background-color: #EDEDED;
    font-size: 1vw;
    border-radius: 25px;
    border: 2px solid #1A1A1A;
    padding: 10px; 
    width: 9vw;
    height: 1.5vh;   
}

#hero {
    position: absolute;
    top: 5%;
    transform: translateY(52%);
    width: auto;
    margin-left: 55%;
}

img {
   size: 20px 30px;
}

.btnarr {
    display: inline;
}

#reg {
    position: absolute;
    margin-top: 2vh;
    text-align: center;
    width: 50%;
}

#loginimg {
    width: 500px;
}

.N-logo { 
	color:#FDAB30;
	position:absolute;
	left:41px;
	top:25px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
}

p {
    font-family: Roboto;
}
