body {
    background: url(login.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-image: url('../images/create.jpg');

}

.row {
    max-width: 30vw;
}

.profile-container {
    background-color: #efececc2;
    border-radius: 30px;
    max-width: 50vw;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.form-control {
    background-color: #dbdbdbbd;
    border-radius: 5px;
    border: solid 1px #1a1a1a;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.form-check-input:checked {
    background-color: #FDAB30;
    border: 1px solid #1a1a1a;
}

.form-check-input {
    background-color: #dbdbdb;
}

label {
    margin-bottom: 3px;
}

input[type="file"] {
    margin-left: 10px;
    max-width: 29vw;
}

input[name="wouldYouRather1"],
input[name="wouldYouRather2"],
input[name="wouldYouRather3"],
input[name="wouldYouRather4"],
input[name="wouldYouRather5"] {
    display: none;
}

input[name="wouldYouRather1"]+label,
input[name="wouldYouRather2"]+label,
input[name="wouldYouRather3"]+label,
input[name="wouldYouRather4"]+label,
input[name="wouldYouRather5"]+label {
    /* style passive state as you like */
    border: solid 1px #1a1a1a;
    background-color: #dbdbdb;
    padding: 2% 3%;
    border-radius: 10px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 1vh;
}

input[name="wouldYouRather1"]:checked+label,
input[name="wouldYouRather2"]:checked+label,
input[name="wouldYouRather3"]:checked+label,
input[name="wouldYouRather4"]:checked+label,
input[name="wouldYouRather5"]:checked+label {
    /* style checked state as you like */
    border: solid 1px #1a1a1a;
    background-color: #FDAB30;
}

.accbtn {
    border-radius: 5px;
    border-style: none;
    background-color: #FDAB30;
    color: #EDEDED;
    padding: 5px 10px;
    opacity: 0.9;
    transition: 0.3s;
}

.accbtn:hover {
    opacity: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}